@{
    ViewData["Title"] = "Page Not Found";
}

<div class="notFound">
    <img src="~/lib/images/404.svg"/>
    <h1>404</h1>
    <h2>@ViewBag.ErrorMessage</h2>
    <a href="/">
        <span class="material-icons-round">graphic_eq</span>
        &nbsp;TAKE ME HOME
    </a>
</div>