@using Microsoft.AspNetCore.Identity
@using Waveform.Areas.Identity.Data

@model Waveform.Models.Song
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<WaveformUser> SignInManager
@inject UserManager<WaveformUser> UserManager


<div class="index__header">
    <h1>Add songs</h1>
    <a asp-action="Index">
        <span class="material-icons">library_music</span>
        &nbsp;&nbsp;My songs
    </a>
</div>

<div class="add__song mt-3">
    <div class="song__info">
        <br /><h2>Select the song to add from your computer.</h2><br />
        <form asp-action="Add" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="UserId" id="userId" type="hidden" class="form-control" />
            <input asp-for="Name" type="hidden" id="name" class="form-control" />
            <input asp-for="DateAdded" type="hidden" class="form-control" />
            
            <label for="file" id="filelabel">Choose a song</label>
            <input asp-for="Audio" type="file" id="file" accept=".mp3, .aac, .ogg, .flac" />
            <span class="text-danger" style="display: none;" id="add">Please select a .mp3, .aac, .ogg or .flac file.</span>
            <span class="text-danger" style="display: none;" id="size">Only files under 30MB are accepted.</span>

            <div class="form-group">
                <br /><input type="submit" value="Confirm" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        let ok = 0;
        let formats = ['.mp3', '.aac', '.ogg', '.flac'];

        $('#file').change(function (e) {
            ok = 0;
            formats.some(format => {
                if ($('#file').val().substring($('#file').val().lastIndexOf('.')) === format)
                    ok = e.target.files[0].size < 30000000 ? 2 : 1; return;
            });

            $('#name').val(ok === 2 ? e.target.files[0].name : '');
            $('#filelabel').html(ok !== 0 ? e.target.files[0].name : 'Choose a song');

            $('#add').css('display', ok === 0 ? 'block' : 'none');
            $('#size').css('display', ok === 1 ? 'block' : 'none');
        });

        $('form').submit(function (e) {
            if ($('#file').val().length === 0 || ok === 0 || ok === 1) {
                e.preventDefault();
                ok === 0 && $('#add').css('display', 'block');
                ok === 1 && $('#size').css('display', 'block');
            }
            $('#userId').val('@UserManager.GetUserId(User)');
        });
    </script>
}